body {
  background-color: #fff;
  font-family: 'Bebas Neue', cursive;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

/* Cover side */

.cover-side {
  background: url(..//img/Cover.jpg);
  background-size: cover;
  width: 600px;
  height: 782px;
}

.cover-opacity {
  box-sizing: border-box;
  padding: 326px 158px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0000004D;
}

.cover-side h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0 0 24px;
}

.top-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 164px;
  background: #1E90FF;
  border: none;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.top-blog:hover {
  background: #1E90FFCC;
}

.top-blog:active {
  background: #1E90FF99
}

.top-blog img {
  margin-right: 12px;
  height: 20px;
  width: 19px;
}

.top-blog p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

/* Articles */

.articles {
  box-sizing: border-box;
  padding: 54px;
  width: 600px;
  height: 782px;
  background: #FEFEFE;
}

.articles h2 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #222222;
  margin: 0 0 24px;
}

.articles hr {
  margin-bottom: 24px;
  width: 490px;
  height: 1px;
  background-color: #999999;
  border: none;
}

.art-box {
  display: flex;
  align-items: center;
}

.art-box-img {
  margin: 0 16px 10px 0;
  width: 160px;
  height: 90px;
  border-radius: 4px;
}

.art-title a {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #222222;
  transition: 0.3s ease;
}

.art-title a:hover {
  color: #1E90FF;
}

.art-title a:active {
  color: #1E90FF99;
}

.art-info {
  display: flex;
  align-items: center;
}

.art-info-time {
  width: 120px;
  display: flex;
  align-items: center;
}

.art-info-time img {
  width: 14px;
  height: 14px;
}

.art-info-watches {
  width: 120px;
  display: flex;
  align-items: center;
}

.art-info-watches img {
  width: 15px;
  height: 10px;
}

.art-info p {
  width: 95 px;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}

.more-upload {
  text-transform: capitalize;
  margin-top: 13px;
  padding: 12px 0;
  color: #FFFFFF;
  background: #1E90FF;
  border-radius: 4px;
  display: block;
  text-align: center;
  transition: 0.3s;
}

.more-upload:hover {
  opacity: 0.8;
}

.more-upload:active {
  opacity: 0.6;
}